<h1>Welcome <%= user.name %></h1>


<form action='/login' method="POST">
    <input type="text" name="name" >
    <input type="text" name="password" >
    <input type="submit" value="Login">

</form>


<hr>

<form action='/register' method="POST">
    <input type="text" name="name" >
    <input type="text" name="password" >
    <input type="submit" value="Register">

</form>